# Based of: https://github.com/eeholmes/readthedoc-test
on:
  push:
    workflow_run:
      workflows: [tests]
      types: [completed]
      branches: [master]

jobs:

  deploy_docs_job:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install -r requirements-dev.txt
      - name: make the sphinx docs
        run: |
          make -C doc clean
          make -C doc html
      - name: Init new repo in dist folder and commit generated files
        run: |
          cd doc/_build/html/
          git init
          touch .nojekyll
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy'
      - name: Force push to destination branch
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
          directory: ./doc/_build/html
